%section.section
    %h1.title クライエントの情報を入力してください
    =form_for @client do |f|
        .form
            = f.text_field :name, class: "client-form__input", placeholder: "クライエントの名前を入力してください"
            = f.text_field :sex, class: "client-form__input", placeholder: "性別を入力してください"
            = f.text_field :job, class: "client-form__input", placeholder: "職業を入力してください"
            = f.text_field :address, class: "client-form__input", placeholder: "住所を入力してください"
            = f.text_field :from, class: "client-form__input", placeholder: "出身地を入力してください"
            = f.text_field :family, class: "client-form__input", placeholder: "家族構成を入力してください"
            = f.text_field :character, class: "client-form__input", placeholder: "性格・特徴を入力してください"
            = f.text_field :complaint, class: "client-form__input", placeholder: "主訴を入力してください"
            = f.text_field :history, class: "client-form__input", placeholder: "生育歴を入力してください"
            = f.text_field :other, class: "client-form__input", placeholder: "その他"
            = f.text_field :intake, class: "client-form__input", placeholder: "初回面談日を入力してください(例:2020/2/2)"
            = f.text_field :photo, class: "client-form__input", placeholder: "写真を入力してください"
            = f.text_field :email, class: "client-form__input", placeholder: "メールアドレスを入力してください"
            = f.text_field :phone, class: "client-form__input", placeholder: "電話番号を入力してください"
        = f.submit "登録する", class: "client-form__action-btn" 