.header
    .header_box
        %P.header_box_name 
            = @client.name
        %ul.header_box_link
            %li.link 
                = link_to root_path do
                    = icon('fas', 'reply')
            %li.link 
                = link_to new_client_therapy_path(@client) do
                    = icon('fas', 'clipboard')
            %li.link 
                = link_to edit_client_path(@client) do
                    = icon('fas', 'edit')
            %li.link 
                = link_to client_path(@client.id), method: :delete do
                    = icon('fas', 'trash')
.body
    .information
        %h1 クライエント情報
        %ul.client_information
            .name
                %p 名前
                %li
                    = @client.name
            .sex
                %p 性別
                %li
                    = @client.sex
            .job
                %p 職業
                %li
                    = @client.job
            .address
                %p 住所
                %li
                    = @client.address
            .from
                %p 出生地
                %li
                    = @client.from
            .family
                %p 家族構成
                %li
                    = @client.family
            .character
                %p 性格・特徴
                %li
                    = @client.character
            .complaint
                %p 主訴
                %li
                    = @client.complaint
            .history
                %p 生育歴
                %li
                    = @client.history
            .other
                %p その他
                %li
                    = @client.other
            .intake
                %p 初回面談日
                %li
                    = @client.intake
            %li.photo
                = @client.photo
            %li.email
                = @client.email
            %li.phone
                = @client.phone
    .therapies
        .therapy
            .therapy_box
                %h1.tittle カウンセシング内容
                %ul.therapies_icon
                    %li.link 
                        = link_to "#" do
                            = icon('fas', 'edit')
                    %li.link 
                        = link_to "#" do
                            = icon('fas', 'trash')
            .therapy_content
                .date 2020年3月26日
                .content 認知行動療法、ソーシャルスキルトレーニング（SST）、エクスポージャー、系統的脱感作、箱庭療法
        .therapy
            .therapy_box
                %h1.tittle カウンセシング内容
                %ul.therapies_icon
                    %li.link 
                        = link_to "#" do
                            = icon('fas', 'edit')
                    %li.link 
                        = link_to "#" do
                            = icon('fas', 'trash')
            .therapy_content
                .date 2020年3月30日
                .content エゴグラム、ホオポノポノ、催眠療法、タッピング、エクスポージャー
    .result
        = render "results/example"





